* {
    box-sizing: border-box;
}

.divall {
    width: 40em;
    height: 40em;
    background-color: wheat;
    padding: 1em;
}

.middle {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: space-between;
}

.article {
    display: flex;
    height: 26em;
    background-color:whitesmoke;
    width: 27em;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1em;
}

header {
    background-color: mintcream;
    height: 5em;
}

footer {
    background-color: lightblue;
    height: 5em;
}

aside {
    background-color: lightseagreen;
    height: 26em;
    width: 10em;
}

img {
    width: 8em;
    height: 6em;
}